<nav class="navbar navbar-expand-sm navbar-dark bg-primary">
    <div class="container">
      <a routerLink="/mainpage" class="navbar-brand">Kadir</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a routerLink="/lists" class="nav-link todo">Yapılacaklar</a>
          </li>
          <li class="nav-item">
            <a routerLink="/products" class="nav-link prod">Ürünler</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
  
