<!-- STEP 1 -->
<!-- <div class="container">
  <div class="card bg-light text-light mt-5">
    <div *ngFor="let product of products">
      <div class="card-body">
          <h3 class=" bg-primary text-light p-2 text-center rounded">{{ product.title }}</h3>
            <ul class="list-group list-group-flush">
              <li class="list-group-item">
                <p><b>Category:</b> {{ product.category }}</p>
              </li>
              <li class="list-group-item">
                <p><b>Brand:</b> {{ product.brand }}</p>
              </li>
              <li class="list-group-item">
                <p><b>Description:</b> {{ product.description }}</p>
              </li>
              <li class="list-group-item">
                <p><b>Stock:</b> {{ product.stock }}</p>
              </li>
              <li class="list-group-item">
                <p><b>Price:</b> ${{ product.price }}</p>
              </li>
            </ul>
          
          
        
         
        </div>
      </div>
    </div>
  </div> -->
 
 
  <div *ngFor="let product of products">
    <div class="container mt-3">
      <div class="list-container shadow">
          <ul class="list-group">
            <li class="list-group-item mt-2 shadow-md">
              <h2>
                <a [routerLink]="['/product', product.id]" class="text-decoration-none fs-5">{{ product.title }}</a>
              </h2>
            </li>
          </ul>
      </div>
    </div>
  </div>
 
 
  <!-- STEP 4
  <div *ngFor="let product of products">
    <div *ngFor="let key of getObjectKeys(product)">
      <p><b>{{ key }}:</b> {{ product[key] }}</p>
    </div>
  </div> -->


<!-- STEP 2 -->
<!-- <div *ngFor="let product of products">
    <h3>{{ product.title }}</h3>
    <p>{{ product.category }}</p>
    <p>Price: ${{ product.price }}</p>
    <button (click)="showProductDetails(product.id)">Show Details</button>
  </div> -->

<!-- STEP 3 -->
<!-- <div *ngFor="let product of products">
    <h3>{{ product.title }}</h3>
    <button (click)="showProductDetails(product.id)">Show Details</button>
  </div> -->
